/* Styling for the Dashboard component */
.dashboard-container {
    padding: 20px;
    text-align: center;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007ACC;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 10px;
}

.heading h1 {
    flex-basis: 30%; /* Adjust the width as needed */
    text-align: center;
}

.dashboard-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.dashboard-user h3 {
    flex-basis: 30%; /* Adjust the width as needed */
    text-align: center;
}

.dashboard-user:nth-child(odd) {
    background-color: #f5f5f5; /* Alternate row background color */
}

.dashboard-user:hover {
    background-color: #e0e0e0; /* Hover background color */
}

.user-row {
    background-color: #FFD700; /* Yellow background color for the user's row */
}

.user-row  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.user-row  h3 {
    flex-basis: 30%; /* Adjust the width as needed */
    text-align: center;
}
