.question-container {
    background-color: #fff;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    text-align: center;
}

.question-header {
    background-color: #007ACC;
    color: #fff;
    padding: 15px;
    border-radius: 10px 10px 0 0;
}

.question-header h1 {
    font-size: 24px;
    margin: 0;
}

.question-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.question-list button {
    background-color: #4d82a6;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.question-list button:hover {
    background-color: #08436a;
}

/* Styling for the answer options */
.question-list h3 {
    margin: 0;
    font-size: 18px;
}

.question-list button.correct {
    background-color: #4CAF50; /* Green color for correct answers */
}

/* Style for incorrect answer */
.question-list button.incorrect {
    background-color: #FF5733; /* Red color for incorrect answers */
}